var vh = window.innerHeight;
var vw = window.innerWidth;
.jost-shit {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body 
{
  font-family: "Jost", sans-serif;
  font-style: normal;
  line-height: 11pt;
  background-image: url("5025.png");
}
.box {
  width: 45%;
  border: 3px solid rgba(32, 32, 32, 1);
  padding: 25px;
  margin: 25px;
}